@import url(./vars.css);

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark);
}
.container {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 15px;
}
section{
  padding-bottom: 110px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 11px 25px;
  border-radius: 4px;
  border: 1px solid var(--color-blue-light);
  margin-right: 14px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-blue-dark);
}
.btn:hover{
    border-color: var( --color-accent);
    color: var( --color-accent);
    cursor: pointer;
}
.btn-active {
  background-color: var( --color-accent);
  color: var(--color-light);
}
.btn-active:hover{
    background-color: #e48902;
    color: var(--color-light);
    cursor: pointer;
}
/* ----- HEADER------ */
.header {
  padding: 22px 0 24px 0;
}
.logo {
  margin-right: 320px;
}
.logo__img {
  width: 187px;
  height: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-brown);
}
.menu__item:hover .menu__link {
  color: var(--color-brown-dark);
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
/* -------- HERO--------- */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding-top: 30px;
}
.hero__info {
  max-width: 460px;
}
.hero__info-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: var(--color-brown);
  margin-top: 95px;
  margin-bottom: 30px;
}
.hero__info-text {
  margin-bottom: 45px;
}
.hero__info-button {
  padding: 15px 41px;
}
/* ---- SECTION------- */
.section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: var(--color-brown);
  margin: 54px 320px;
}
/* ----TOOLS----- */
.tools{
    text-align: center;
}
.tools__list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-bottom: 34px;
}
.tools__item{
    text-align: left;
}
.tools__item-img {
  width: 51px;
  height: 50px;
  margin-bottom: 30px;
}

.tools__item-title {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-brown);
  margin-bottom: 13px;
}
.tools__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
}
.tools__button{
    text-transform: uppercase;
    padding: 15px 32px;
}
