@import url(./vars.css);
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark);
}
.container {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  padding-bottom: 110px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 11px 25px;
  border-radius: 4px;
  border: 1px solid var(--color-accent);
  margin-right: 14px;
  font-weight: 600;
  font-size: 16px;
  background-color: var(--color-accent);
  color: var(--color-light);
}
.btn:hover {
  color: var(--color-blue-dark);
  background-color: transparent;
  border: 1px solid var(--color-blue-light);
  cursor: pointer;
}
/* ----- HEADER------ */
.header {
  padding: 22px 0 24px 0;
}
.logo__img {
  width: 187px;
  height: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: var(--color-brown);
}
.menu__item:hover .menu__link {
  color: var(--color-accent);
  cursor: pointer;
}
/* -------- HERO--------- */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding-top: 30px;
  padding-bottom: 110px;
}
.hero__info-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: var(--color-brown);
  margin-top: 95px;
  margin-bottom: 30px;
}
.hero__info-text {
  margin-bottom: 45px;
}
.hero__info-button {
  padding: 15px 41px;
}
/* ---- SECTION------- */
.section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: var(--color-brown);
  padding: 54px 320px;
}
/* ----TOOLS----- */
.tools {
  position: relative;
  text-align: center;
  overflow-x: hidden;
}
.tools::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 2323px;
  height: 389px;
  background: url(../images/bg.svg) no-repeat;
  z-index: -1;
}
.tools__list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  margin-bottom: 34px;
}
.tools__item {
  text-align: left;
}
.tools__item-img {
  width: 51px;
  height: 50px;
  margin-bottom: 30px;
}

.tools__item-title {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-brown);
  margin-bottom: 13px;
}
.tools__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
}
.tools__button {
  padding: 15px 32px;
}
/* ----- ADVANTAGES------- */
.advantage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 113px;
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  padding-top: 100px;
}
.advantage:nth-child(2) {
  flex-direction: row-reverse;
}
.advantage__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 20px;
}
.span {
  color: var(--color-brown-light);
}
.advantage__text {
  color: var(--color-brown-light);
}
.advantage__text:not(:last-child) {
  margin-bottom: 30px;
}
.advantage__header {
  margin-bottom: 40px;
}
.advantage__subtitle {
  font-weight: 700;
  margin-bottom: 10px;
}
.advantage__item {
  position: relative;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  color: var(--color-brown-light);
  padding-left: 65px;
}
.advantage__item::before {
  content: "";
  position: absolute;
  background: url(../images/checkbox.svg);
  width: 35px;
  height: 35px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.advantage__img {
  width: 526px;
  height: auto;
}
/* ------- FOOTER------ */
footer {
  margin-bottom: 70px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-logo {
  width: 200px;
  height: 32px;
}
.footer__nav-title,
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 30px;
}
.footer__item:not(:last-child) {
  margin-bottom: 15px;
}
.footer__item:hover .footer__link {
  color: var(--color-accent);
  cursor: pointer;
}
.footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 163%;
  color: var(--color-brown-light);
  text-decoration: none;
}
.form {
  width: 340px;
}
.form__title {
  margin-bottom: 25px;
}
.form__input {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--color-blue-light);
  border-radius: 4px;
  margin-bottom: 25px;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-blue-light);
}
.form__button {
  width: 180px;
}
