body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
}
.container {
  max-width: 1141px;
  margin: 0 auto;
  padding: 0 15px;
}
section{
    margin-bottom: 110px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 11px 25px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  margin-right: 14px;
  font-weight: 600;
  font-size: 16px;
  color: #173a56;
}
.btn-active {
  background-color: #ff9900;
  color: #fff;
}
/* ----- HEADER------ */
.header {
  padding: 22px 0 24px 0;
}
.logo {
  margin-right: 320px;
}
.logo__img {
  width: 187px;
  height: auto;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
}
.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 14px;
  line-height: 28px;
  text-decoration: none;
  color: #2f281e;
}
.menu__item:hover .menu__link {
  color: #1f1a14;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}
/* -------- HERO--------- */
.hero {
  display: flex;
  justify-content: space-between;
  gap: 3px;
 padding-top: 30px;
}
.hero__info{
   max-width: 460px;
}
.hero__info-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #2f281e;
  margin-top: 95px;
  margin-bottom: 30px;
}
.hero__info-text{
    margin-bottom: 45px;
}
.hero__info-button{
    padding: 15px 41px;
}