:root {
  --color-light: #fff;
  --color-accent: #ff9900;
  --color-brown-light: #544837;
  --color-brown: #2f281e;
  --color-brown-dark: #1f1a14;
  --color-blue-light: #bcd0e5;
  --color-blue-dark: #173a56;
}
